<head>
    <title>The World - @ViewBag.Title</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/bootswatch/superhero/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="sidebar">
        <!-- TODO: Add image for user avatar -->
        <!--<img alt="avatar" class="avatar"/>-->
        <span id="username">Arc Petretta</span>
        <ul class="menu">
            <li class="active"><a asp-controller="App" asp-action="Index">Home</a>
            <li><a asp-controller="App" asp-action="About">About</a>
            <li><a asp-controller="App" asp-action="Contact">Contact</a>
        </ul>
    </div>
    <div id="wrapper">
        <div id="main">
            <div>
                <button id="sidebarToggle" class="btn btn-primary">
                    <i class="fa fa-angle-left"></i>
                </button>
            </div>
            @RenderBody()
        </div>
            <div id="footer">
                <footer>
                    <p class="text-primary">
                        Designed by Arcangelo Petretta
                    </p>
                    <a href="https://github.com/arcpetretta/TheWorld">Source Code!</a>
                </footer>
            </div>
        </div>

        <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/js/site.js"></script>
        @RenderSection("scripts", false)
</body>